.title {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
}

.TopWrapper {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.AddNotesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #2B2B2B;
    padding: 20px;
    border-radius: 8px;
    height: 80vh;
    width: 90%;
    margin: auto;
}

textarea {
    width: 90%;
    height: 150px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    height: 80%;
    overflow-y: auto;
}

.sideBar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #2B2B2B;
    padding: 20px;
    border-radius: 8px;
    height: fit-content;
    width: fit-content;
}

.sideBarButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.sideBarButton:hover {
    background-color: #ddd;
}

.NoteEditorContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-left: 50px;
}

.selected {
    border: 2px solid blue;
}

.EditorInput {
    min-width: 100px;
}