.renderContainer {
    display: flex;
    justify-content: center;
    background-color: #2b2b2b;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 80%;
    margin: auto;
}