.text2 {
    font-size: small;
    color: black;
}

.text1 {
    color: black;
}

.ButtonsType2 {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #D4D4D4;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
}

.ButtonsType2:hover {
    background-color: white;
}